---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-s3-linka-cloud-v1alpha1-bucket
  failurePolicy: Fail
  name: mbucket.kb.io
  rules:
  - apiGroups:
    - s3.linka.cloud
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - buckets
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-s3-linka-cloud-v1alpha1-bucket
  failurePolicy: Fail
  name: vbucket.kb.io
  rules:
  - apiGroups:
    - s3.linka.cloud
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - buckets
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-s3-linka-cloud-v1alpha1-bucketserviceaccount
  failurePolicy: Fail
  name: vbucketserviceaccount.kb.io
  rules:
  - apiGroups:
    - s3.linka.cloud
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - bucketserviceaccounts
  sideEffects: None
