---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - s3.linka.cloud
  resources:
  - bucketproviders
  - buckets
  - bucketserviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - s3.linka.cloud
  resources:
  - bucketproviders/finalizers
  - buckets/finalizers
  - bucketserviceaccounts/finalizers
  verbs:
  - update
- apiGroups:
  - s3.linka.cloud
  resources:
  - bucketproviders/status
  - buckets/status
  - bucketserviceaccounts/status
  verbs:
  - get
  - patch
  - update
